$dark-blue: hsl(233, 47%, 7%);
$dark-blue-desa:hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);

$white: hsl(0, 0%, 100%);
$white-para: hsla(0, 0%, 100%, 0.75);
$white-head: hsla(0, 0%, 100%, 0.6);

$width-desktop: 1440px;
$width-mobile: 375px;