@import 'variables';
*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
  // border: 1px solid white;
}
body{
  min-height: 100vh;
  background-color: $dark-blue;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{  
  background-color: 2px solid white;
  background-color: $dark-blue-desa;
  border-radius: 8px;
  display: flex;
  flex-direction: row-reverse;
  color: white;
  max-width: 1100px; 
  height: 446px;

  .image{
    position: relative;
    img{
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      position: relative;
    }
    &::after{
      background-color: $soft-violet;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      top: 0px;
      left: 0px;
      opacity: 0.55;
    }
  }
  .info{
    font-family: 'Inter', sans-serif;
    padding: 85px 90px 0px 70px;
    & > h1{
      font-size: 35px;
      font-weight: 700;
      i{
        font-style: normal;
        color: $soft-violet;
        text-decoration: none;
      }
    }
    & > p{
      line-height: 25px;
      font-size: 15px;
      padding: 20px 0 30px 0;
      font-weight: 400;
      font-family: 'Lexend Deca', sans-serif;
      color: hsla(129, 115, 115, 0.75);
    }
    .stats{
      padding: 20px 0 0 0;
      font-size: 15px;
      display: flex;
      justify-content: space-between;
       p{
        color: hsla(129, 115, 115, 0.60);
      }
    }
  }
}
@media screen and (max-width: 1000px){
  .card{

    .info{
      padding: 45px 25px 0px 40px;
      .stats{
        
      }
    }
  }
}
@media screen and (max-width: 875px){
  .card{
    margin-top: 50px;
    text-align: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    .image{
      height: 336.3px;
      img{
        border-top-left-radius: 8px;
        width: 400px;
        height: 100%;
      }
      &::after{
        height: 100%;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 0px;
      }
    }
    .info{
      padding-left: 25px;
      padding-right: 25px;

      &>p{
        padding-bottom: 10px;
      }
      .stats{
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 30px;
        .stat{
          padding-top: 15px;
          padding-bottom: 15px;
        }
        h2{
          padding-top: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 475px){
  .card{
    max-width: 320px;
    .image{
      height: 264px;
      img{
        max-width: 320px;
        height: auto;
      }
      &::after{
      }
    }
    h2{
      padding-bottom: 10px;
    }
  }
}